extend layout
block content
	h1(id="header") CloudCut
	button(type="button", onclick="newProjectDialogue();") New Project
	h2(id="title")
	div(id="main_container")
		div(id="player_container")
			div(id="videoplayer")
				
			div(style="width: 500px; text-align: center;")
				button(type="button", onclick="requestPlay();") &#9654;
				button(type="button", onclick="requestPause();") &#x25FC;
				button(type="button", onclick="saveClips();") Save
				button(type="button", id="undo", disabled="true", onclick="undo(project)") UNDO
				button(type="button", id="redo", disabled="false", onclick="redo(project)") REDO
				button(type="button", id="uploadButton", onclick="uploadVideo()") Upload Video
				input(type="file", id="fileupload", style="display: none;")
		div(id="clipsviewer")
			div(id="drag-clipsviewer")
	div(style="margin-top: 10px;")
		div(id="drag-x")
	div(id="info")

	div(id="log" style="display: none")

	div(id="change_message", style="color: #CCCCCC;")

	script(src='/assets/scripts/aws-sdk-1.10.0.min.js')
	script(src='/assets/scripts/whiskers.js')
	script(src='/assets/scripts/tail.js')
	script(src='//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css')


