extend layout
block content
	div(id="main")
		h1(id="header") CineMeow
		h3 Fur Purrfect In-Meowser Video Editing

		button(type="button" onclick="newProjectDialogue();") Create New Project

	script(src='/assets/scripts/aws-sdk-1.10.0.min.js')
	script(src='/assets/scripts/whiskers.js')
	script(src='/assets/scripts/tail.js')
	script(src='//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css')


